<html>
    <head>
        <title>Victor's Music Discussion</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container" id="menu-items">
                <div class="header item">Victor's Music Discussion Site</div>
                <a href="/posts" class="item"><i class="home icon"></i>Home</a>
                <a href="/about" class="item"><i class="info icon"></i>About</a>
                <a href="/recs" class="item"><i class="music icon"></i>Recommendations</a>
                <a href="/posts/new" class="item"><i class="file alternate outline icon"></i>New Post</a>
                <a href="https://www.facebook.com/v.pavao17" class="borderless right aligned item"><i class="white facebook square icon"></i></a>
                <a href="https://github.com/vcpavao" class="borderless right aligned item"><i class="white github icon"></i></a>
                <a href="https://www.linkedin.com/in/vcpavao/" class="borderless right aligned item"><i class="white linkedin alternate icon"></i></a>
            </div>
        </div>