<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">Homepage</div>
                <a href="/blogs" class="item"><i class="home icon"></i>Home</a>
                <a href="/blogs/new" class="item"><i class="file alternate outline icon"></i>New Post</a>
            </div>
        </div>