body {
    padding-top: 100px;
}

p {
    padding-top: 25px;
    padding-bottom: 25px;
}

.nonbox {
    padding: 1.8em;
}

i.icon {
    font-size: 2em;
}

#delete-button {
    display: inline;
}

#menu-items {
    margin-right: 0;
}

#comments {
    margin: 0 auto;
}