body {
    height: 90%;
}

p {
    padding-top: 25px;
    padding-bottom: 25px;
}

i.icon {
    font-size: 2em;
}

#delete-button {
    display: inline;
}

#main-body {
    margin-top: 8em;
}

#menu-items {
    margin-right: 0;
}

#comments {
    margin: 0 auto;
}