.ui.menu {
    margin: 0;
}

body {
    padding-top: 100px;
}


p {
    padding-top: 25px;
    padding-bottom: 25px;
}

.nonbox {
    padding: 1.8em;
}

i.icon {
    font-size: 2em;
}

.right-floated {
    float: right;
}

#delete-button {
    display: inline;
}

#comments {
    margin: 0 auto;
}